
body {
    margin:0; /*gets rid of white space around body*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  

.my-navbar{
   margin-left: 8%;
}
.my-btn-toggler{
    display: block;
    margin: auto;
    border-radius: 45%;
   
}


.navbar a{
    font-size: 12px;  
}



.nav-item span{
   position: relative;
   top:-3px;
}

.nav-item img{
   width: 130px;
   height: auto;
 }
 


header{
    background-color: #f5f5f5 ;
}


 

 .portada{
     width: 100vw;
     height: 100vh;
 }
 .my-slider{
     display: block;
     margin: auto;
     width: 1000px;
     height: 400px; 
     border: solid red 4px;
 }
 .my-carrusel{
     width: 1000px;
     height: 400px;
     border: solid blue 3px;
 }
 .my-control{
     border: solid yellowgreen 4px;
     width: 100px;
   height: 100px;

 }



footer{
   position: relative;
   bottom: 0px;
}
.my-footer{
    padding-left: 50px;
    padding-top: 30px;
   margin-top: 40px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   background-color: #fafafa ;
  
 }
 .item{
     width: 30%;
 }



.logos-footer img{
    display: inline;
    width: 35px;
    height: auto;
}
.p-contacto{
    display: inline;
    font-size: 0.7rem;

}

@media (max-width: 1024px) {
    footer{
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .portada{
        margin-bottom: -400px;

    }
    .my-navbar{
        margin-left: -15px;
     }
     .my-footer{
      margin-top: 0px;
       
      }
      
}


@media (max-width: 767.98px) {
   
   /* .portada{
        background-image: url("../img/background/background_1.jpg");
       
    }
    */
    footer{
        position: relative;
        bottom: -100px;
    }
    .nav-item img{
        display: none;
      }
      .navbar a{
        font-size: 12px;  
    }
    
    
    
    .nav-item span{
      display: none;
    }
    
      

  
    .my-footer{
      
        margin-left: -80px;
        background-color: #fafafa ;
       
      }
 }

 @media  (max-width: 500px) { 
/*
    .portada{
        background-image: url("../img/background/background_movile.jpg");
        width: 500;
        height: 280px;
    }
    */
    .my-footer{
      
       display: flex;
       flex-direction: column;
       margin-left: -80px;
       background-color: #fafafa ;
      
      
     }
     .container article{
         margin-bottom: 15px;
     }
     
  
    
 }
